/* Settings */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3e57db;
  --white-color: #fff;
}

body {
  font-family: "Roboto" sans-serif;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card__header {
  height: 200px;
}

.card__header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__content {
  background-color: var(--white-color);
  padding: 30px;
}

.card__title {
  height: 20px;
  margin: 0;
}

.card__excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.author {
  display: flex;
}

.author__image {
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 65px;
}

.author__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100%;
}

.author__date {
  color: #aaa;
  margin-bottom: 5px;
}

.animated-background {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
}

.animated-background-text {
  border-radius: 50px;
  display: inline-block;
  height: 10px;
  width: 100%;
  animation : backgroundPosition 1s linear infinite ;
}

@keyframes backgroundPosition {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}
